# ==================
# Python
# ==================
__pycache__/
*.pyc
*.pyo
.env
venv/
dist/
build/

# ==================
# Rust
# ==================
target/
photo-editor-test/

# ==================
# Godot
# ==================
.import/
.export/



libs/

# Godot GDExtension build outputs
rust/raw-photo-forge/addons/photo_editor/libs/

# ==================
# OS / Editor
# ==================
.DS_Store
.idea/
.vscode/
