node_modules/


# ==================
# Python
# ==================
__pycache__/
*.pyc
*.pyo
.env
venv/
build/

# ==================
# Rust
# ==================
target/

rust/photo-editor-web/pkg


# ==================
# Godot
# ==================
.import/
.export/


libs/

# Godot GDExtension build outputs
rust-godot-legacy/raw-photo-forge/addons/photo_editor/libs/



# ==================
# OS / Editor
# ==================
.DS_Store
.idea/
.vscode/
