name: build-test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            os_name: Ubuntu
            arch: x86_64
            lib_prefix: lib
            lib_ext: so
            godot_os: linux
            addon_dir: Linux-x86_64
            export_name: "Linux/X11"
            exe_name: RawPhotoForge
            godot_asset: Godot_v4.5.1-stable_linux.x86_64.zip

          - os: windows-latest
            os_name: Windows
            arch: x86_64
            lib_prefix: ""
            lib_ext: dll
            godot_os: windows
            addon_dir: Windows-x86_64
            export_name: "Windows Desktop"
            godot_asset: Godot_v4.5.1-stable_win64.exe.zip
            exe_name: RawPhotoForge.exe

          - os: macos-latest
            os_name: macOS
            arch: arm64
            lib_prefix: lib
            lib_ext: dylib
            godot_os: macos
            addon_dir: macOS
            export_name: "macOS"
            godot_asset: Godot_v4.5.1-stable_macos.universal.zip
            exe_name: RawPhotoForge

    steps:
      # ----------------------------
      # checkout
      # ----------------------------
      - uses: actions/checkout@v4

      # ----------------------------
      # Rust
      # ----------------------------
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install cargo-about
        run: cargo install cargo-about

      - name: Build Rust GDExtension
        run: |
          cargo build --release -p photo-editor-godot

      - name: Generate Rust licenses
        run: |
          cargo about init || true
          cargo about generate about.hbs > rust/photo-editor-godot/rust_licenses.html

      # ----------------------------
      # Copy GDExtension to Godot
      # ----------------------------
      - name: Copy GDExtension
        run: |
            mkdir -p rust/raw-photo-forge/addons/photo_editor/libs
            mkdir -p rust/raw-photo-forge/addons/photo_editor/libs/${{ matrix.addon_dir }}
            cp target/release/${{ matrix.lib_prefix }}photo_editor_godot.${{ matrix.lib_ext }} rust/raw-photo-forge/addons/photo_editor/libs/${{ matrix.addon_dir }}/libphoto_editor_godot.${{ matrix.lib_ext }}


      # ----------------------------
      # Godot
      # ----------------------------
      - name: Download Godot
        shell: bash
        run: |
          mkdir godot-bin
          curl -L \
            https://github.com/godotengine/godot/releases/download/4.5.1-stable/${{ matrix.godot_asset }} \
            -o godot.zip
          unzip godot.zip -d godot-bin

          if [ "${{ matrix.os_name }}" = "Ubuntu" ]; then
            GODOT_PATH=$(find godot-bin -type f -name "Godot_v*" | head -n 1)
          elif [ "${{ matrix.os_name }}" = "Windows" ]; then
            GODOT_PATH=$(find godot-bin -type f -name "*_console.exe" | head -n 1)
          else
            GODOT_PATH=$(find godot-bin -type f -path "*/Contents/MacOS/*" | head -n 1)
          fi

          if [ -z "$GODOT_PATH" ]; then
            echo "Godot executable not found"
            exit 1
          fi

          chmod +x "$GODOT_PATH"
          mv "$GODOT_PATH" godot-bin/godot


      - name: Godot editor validation
        shell: bash
        run: |
          cd rust/raw-photo-forge
          ../../godot-bin/godot --headless --editor --quit --verbose

      - name: Godot headless export test
        shell: bash
        run: |
          cd rust/raw-photo-forge
          mkdir -p build
          ../../godot-bin/godot --headless \
            --export-release "${{ matrix.export_name }}" \
            build/${{ matrix.exe_name }}


      # ----------------------------
      # Result check
      # ----------------------------
      - name: Check export result
        run: |
          test -f build/${{ matrix.exe_name }} || (echo "export failed" && exit 1)

      - name: Debug tree
        if: failure()
        run: |
          tree rust/raw-photo-forge/addons || true
          tree rust/photo-editor-godot/target || true